*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
test-xv6.out

# 4 my sandbox
.cache
.bear
compile_commands.json
compile_commands.tmp
