# Ignore git files
.git
.gitignore

# Ignore virtual environment (Critical! Do not copy local venv to docker)
venv/
env/

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore local IDE settings
.vscode/
.idea/

# Ignore local data output (optional: keep if you want initial data, but usually better to volume mount)
# data/plots/
# data/raw/
